<h2><%= book.title %></h2>
<div>
    <div>
        <img
            height="150"
            width="100"
            src=" <%= book.coverImagePath %> "
            alt="Book Title: <%= book.title %>"
        />
        <a href="/books/<%= book.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm.ejs', {url: `/books/${book.id}`}) %>
        <a href="/authors/<%= book.author.id %>/view">View Author</a>
    </div>
    <div>
        <h3>Author: <%= book.author.name %></h3>
        <h3>Publish Date: <%= book.publishDate.toDateString() %></h3>
        <h3>Page Count: <%= book.pageCount %></h3>
        <h3>Description: <%= book.description %></h3>
    </div>
</div>
